*{
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /*Chrome & Safari */
    box-sizing: border-box;
    -moz-user-select:none; /* Firefox */
    -webkit-user-select:none; /*Chrome & Safari */
    user-select: none;
}

body{
    /* margin is space between two elements */
    margin: 0; 
}

/* canvas are inline by :default */
canvas{
    display: block;
}

#toolbar {
    width: 100%;
    padding: 10px;
    position: absolute;
    top: 0;
    background-color: rgb(4, 107, 104);
    overflow: auto;
}

#colors {
    position: relative;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    white-space: nowrap;
    color: white;
}

#range {
    position: relative;
    float: left;
    font-size: 20px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    white-space: nowrap;
    margin-right: 20px;
    color: white;
}

#myColor, #myRange {
    cursor: pointer;
}

#brush, #erase {
    position: relative;
    float: left;
    height: 30px;
    width: 40px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    outline: none;

}

#brush{
    margin-right: 20px;
}
#reset, #save {
    position: relative;
    float: right;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    background-color: white;
    text-align: center;
    cursor: pointer;

}

#reset {
    height: 30px;
    width: 80px;
    margin-right: 15px;
}

#save {
    height: 30px;
    width: 70px;
    margin-right: 10px;

}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(4, 107, 104);
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
 }

 .fa {

    padding: 5px;
    font-size: 15px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    margin-top: 0px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-github {
    background:#211F1F;
    color: white;
  }
  
#text{
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 17px;
}
